# */1 * * * * /bin/bash /home/breynald/StatusCheck/check_services.sh >> /home/breynald/StatusCheck/cron.log 2>&1 && /bin/bash /home/breynald/StatusCheck/upload_to_github.sh >> /home/breynald/StatusCheck/cron.log 2>&1
0 */8 * * * /bin/bash /home/breynald/StatusCheck/check_services.sh && /bin/bash /home/breynald/StatusCheck/upload_to_github.sh
